<%= link_to "Add a new Book", new_book_path, class: "pull-right btn btn-primary" %>
<h1>Pick a book to contribute</h1>
<% Book.all.each do |book| %>
  <div class="well">
    <%= link_to "Delete", book_path(book), method: :delete, class: "btn btn-danger btn-sm pull-right", data: {confirm: "Are you sure you want to delete the book?"} %>
    <h3><%= link_to book.title, book_path(book) %></h3>
    <p>
      <%= book.description %>
    </p>
  </div>
<% end %>
