<%= link_to "Add a new Book", new_book_path, class: "pull-right btn btn-primary" %>
<h1>Pick a book to contribute</h1>
<% Book.all.each do |book| %>
  <div class="well">
    <%= link_to "Preview", preview_book_path(book), class: "btn btn-primary btn-sm pull-right" %>
    <h3><%= link_to book.title, book_path(book) %></h3>
    <p>
      <%= book.description %>
    </p>
  </div>
<% end %>
